doctype html
html
    body
        h1 NOTIFICATION!
        h2 API ID: #{id}
        ul
            li Category: #{category}
            li Domain: #{domain}
            li Path: #{path}
            li Method: #{method}
            li Name: #{name}
            li Created_at: #{time}
        h2 Reason
        p #{msg}
        h2 Detail Link
        p #{link} 
        h2 Please contact sapiv.ssafy@gmail.com for any inconvenience
